<div class="container">
    <header class="header">
        <a href="/" class="link">
            <div class="account">
                <div class="logo">M</div>
                <div class="name">Musa Rufatuly</div>
            </div>
        </a>
        <div class="links-box">
            <ul class="pages-links">
                <li class="link"><a href="/about-me" class="about link">About</a></li>
                <li class="link"><a href="/projects" class="projects link">Projects</a></li>
                <li class="link"><a href="/services" class="services link">Services</a></li>
                <li class="link"><a href="/blog" class="blog link">Blog</a></li>
            </ul>
        </div>
    </header>
</div>