<div class="container">
    <section class="main">
        <h3>
            Development. Build. Improve.
        </h3>
        <h1 class="main-title title">
            I create functional websites your users will love
        </h1>
        <button class="btn" (click)="scrollTo(contact)">
            Make it happen
        </button>
    </section>
    <section class="contact-me" #contact>
        <h2 class="section-title title">Contact me to discuss your future web site!</h2>
    </section>
</div>