<div class="container">
    <section class="main">
        <h3>
            Development. Build. Improve.
        </h3>
        <h1 class="main-title title">
            I create functional websites your users will love
        </h1>
        <button class="btn" (click)="scrollTo(contact)">
            Make it happen
        </button>
    </section>
    <section class="contact-me" #contact>
        <h2 class="section-title title">Contact me to discuss your future web site!</h2>
        <div class="socials">
            <ul class="socials-list">
                <li class="social telegram"><a href="https://t.me/musaprogramm/" class="telegram-link" target="_blank" title="telegram"><i class="ri-telegram-line"></i>Telegram</a></li>
                <li class="social whatsapp"><a href="https://wa.me/7706027964" class="whatsapp-link" target="_blank" title="WhatsApp"><i class="ri-whatsapp-line"></i>WhatsApp</a></li>
            </ul>
        </div>
    </section>
</div>